<div class="inventory-list">
  {{#each items as |item|}}
    <div class="inventory-item" data-item-id="{{item.id}}">
      <img class="item-image" src="{{item.img}}" alt="{{item.name}}" />
      <span class="item-name">{{item.name}}</span>
      <span class="item-quantity">x{{item.system.quantity}}</span>
    </div>
    <div class="item-description" style="display: none;">
      <p>{{item.system.description}}</p>
    </div>
  {{/each}}
</div>