<!-- Weapon Selection -->
<div class="weapon-selection">
  <label for="weapon-select">SLOT 1 Waffe:</label>
  <select id="weapon-select" name="system.selectedWeapon">
    <!-- Default 'None' option -->
    <option value="" {{#if (eq ../system.selectedWeapon "")}}selected{{/if}}>None</option>
    
    <!-- Iterate through available weapons -->
    {{#each weapons as |weapon|}}
      <option value="{{weapon._id}}" {{#if (eq weapon._id ../system.selectedWeapon)}}selected{{/if}}>
        {{weapon.name}}
      </option>
    {{/each}}
  </select>
</div>

<!-- Weapon Details -->
<div class="weapon-details">
  {{setById "weapon" weapons system.selectedWeapon}}
  
  {{!-- Debug output to see what weapon is selected --}}
  {{debug (getById weapons system.selectedWeapon)}}
  
  {{#if weapon}}
    <h3>{{weapon.name}}</h3>
    <p>Type: {{weapon.type}}</p>
    <p>Damage: {{weapon.system.damage}}</p>
    <p>Hit Formula: {{weapon.system.formula}}</p>
    <p>Counter: {{weapon.system.counter}}</p>
    <p>Evasion: {{weapon.system.evasion}}</p>
    <p>Critical Rate: {{weapon.system.critRate}}</p>
    <p>Range: {{weapon.system.range}}</p>       
  {{else}}
    <p>No weapon selected.</p>
  {{/if}}
</div>

<!-- Weapon Selection -->
<div class="weapon-selection2">
  <label for="weapon-select2">SLOT 1 Waffe:</label>
  <select id="weapon-select2" name="system.selectedWeapon2">
    <!-- Default 'None' option -->
    <option value="" {{#if (eq ../system.selectedWeapon "")}}selected{{/if}}>None</option>
    
    <!-- Iterate through available weapons -->
    {{#each weapons as |weapon|}}
      <option value="{{weapon._id}}" {{#if (eq weapon._id ../system.selectedWeapon)}}selected{{/if}}>
        {{weapon.name}}
      </option>
    {{/each}}
  </select>
</div>

<!-- Weapon Details -->
<div class="weapon-details2">
  {{setById "weapon" weapons system.selectedWeapon}}
  
  {{!-- Debug output to see what weapon is selected --}}
  {{debug (getById weapons system.selectedWeapon)}}
  
  {{#if weapon}}
    <h3>{{weapon.name}}</h3>
    <p>Type: {{weapon.type}}</p>
    <p>Damage: {{weapon.system.damage}}</p>
    <p>Hit Formula: {{weapon.system.formula}}</p>
    <p>Counter: {{weapon.system.counter}}</p>
    <p>Evasion: {{weapon.system.evasion}}</p>
    <p>Critical Rate: {{weapon.system.critRate}}</p>
    <p>Range: {{weapon.system.range}}</p>       
  {{else}}
    <p>No weapon selected.</p>
  {{/if}}
</div>