<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      
      <!-- Health Section -->
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>
        <!-- Vital Points -->
        <div class="vital-points flex-group-center">
          <label for="evasion" class="rollable" data-roll="1d20 + {{system.evasion.value}}" data-label="Ausweichen">Ausweichen:</label>
          <input type="number" name="open-hp-points" value="{{system.evasion.value}}" data-dtype="Number" readonly class="centered-input"/> 
        </div>
        <div class="vital-points flex-group-center">
          <label for="conter" class="rollable" data-roll="1d20 + {{system.conter.value}}" data-label="Konter">Konter:</label>
          <input type="number" name="open-attribute-points" value="{{system.conter.value}}" data-dtype="Number" readonly class="centered-input"/>  
        </div>

      
      <!-- Shield Section -->
      <div class="resources grid grid-3col">
        <div class="resource2 flex-group-center">
          <label for="system.shield.value" class="resource-label">Shield</label>
          <div class="resource2-content flexrow flex-center flex-between">
            <input type="text" name="system.shield.value" value="{{system.shield.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.shield.max" value="{{system.shield.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource2 flex-group-center">
          <label for="system.spiritXp.value" class="resource-label">Spirit XP</label>
          <div class="resource2-content flexrow flex-center flex-between">
            <input type="text" name="system.spiritXp.value" value="{{system.spiritXp.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource2 flex-group-center">
          <label for="system.trainingsXP.value" class="resource-label">Trainings XP</label>
          <div class="resource2-content flexrow flex-center flex-between">
            <input type="text" name="system.trainingsXP.value" value="{{system.trainingsXP.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      <!-- XP, Level, Spirit XP -->
      <div class="resources2 grid grid-3col">
        <div class="resource2 flex-group-center">
          <label for="system.xp.value" class="resource-label">XP</label>
          <div class="resource2-content flexrow flex-center flex-between">
            <input type="text" name="system.xp.value" value="{{system.xp.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.xp.max" value="{{system.xp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource2 flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Level</label>
          <div class="resource2-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="resources2 grid grid-3col">
        <div class="resource2 flex-group-center">
          <div class="resource2-content flexrow flex-center flex-between">
            <button type="button" class="reset-character-button">Reset Character</button>
          </div>
        </div>
        <div class="resource2 flex-group-center">
          <div class="resource2-content flexrow flex-center flex-between">
            <button type="button" class="add-xp-button">Add XP</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Overview</a>
    <a class="item" data-tab="schadenswerte">Schadenswerte</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="roleplayitem">Roleplayitem</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells & Abilities</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Background</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- Weapon Selection Dropdown --}}
        <section class="weapon-selection">
          <label for="weapon-select">Select Weapon to Equip:</label>
          <select id="weapon-select" name="system.selectedWeaponSlot">
            <!-- Default 'None' option -->
            <option value="" {{#if (eq ../system.selectedWeaponSlot "")}}selected{{/if}}>None</option>
            
            <!-- Iterate through available weapons -->
            {{#each weapons as |weapon|}}
              <option value="{{weapon._id}}" {{#if (eq weapon._id ../system.selectedWeaponSlot)}}selected{{/if}}>
                {{weapon.name}}
              </option>
            {{/each}}
          </select>
        

        <style>
          .resource4 + .resource4 {
            padding-top: 20px; /* Adjust this value to control the amount of padding */
          }
        </style>
          <!-- Open Points -->
          <div class="resource2 flex-group-center">
            {{#if (or (gt system.openHpPoints 0) (gt system.openAttributePoints 0))}}
            <label class="resource-label">Open Points</label>
            <div class="resource2-content flexrow flex-center flex-between">
              <div>
                {{#if (gt system.openHpPoints 0)}}
                <label for="open-hp-points">Vitalpunkte:</label>
                <input type="number" name="open-hp-points" value="{{system.openHpPoints}}" data-dtype="Number" readonly/>
                <button type="button" class="add-hp-point-button"><i class="fas fa-plus"></i></button>
                {{/if}}
              </div>
              <div>
                {{#if (gt system.openAttributePoints 0)}}
                <label for="open-attribute-points">Trefferstats:</label>
                <input type="number" name="open-attribute-points" value="{{system.openAttributePoints}}" data-dtype="Number" readonly/>
                <button type="button" class="add-attribute-point-button"><i class="fas fa-plus"></i></button>
                {{/if}}
              </div>
            </div>
            {{/if}}
          </div>
          
        </section>
      </section>
    </div>

    {{!-- Owned Equipment Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
      {{> "systems/nazrudin/templates/actor/parts/actor-weapons.hbs"}}
    </div>

    {{!-- Owned RoleplayItems Tab --}}
    <div class="tab roleplayitem" data-group="primary" data-tab="roleplayitem">
      {{> "systems/nazrudin/templates/actor/parts/actor-roleplayitem.hbs"}} 
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab schadenswerte" data-group="primary" data-tab="schadenswerte">
       {{> "systems/nazrudin/templates/actor/parts/actor-schadenswerte.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/nazrudin/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/nazrudin/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/nazrudin/templates/actor/parts/actor-effects.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

  </section>
</form>
